<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--  创建MultipartFile实例  -->
    <mvc:annotation-driven/>
    <!--  包扫描器  -->
    <context:component-scan base-package="controller"/>
    <!-- 定义文件解释器；id="multipartResolver" cannot be modified! -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<!--        &lt;!&ndash; 设置默认编码 &ndash;&gt;-->
<!--        <property name="defaultEncoding" value="utf-8"></property>-->
<!--        &lt;!&ndash; 上传文件最大大小5M&ndash;&gt;-->
<!--        <property name="maxUploadSize" value="5242440"></property>-->
    </bean>


</beans>

